<div class="jumbotron">
    <form method="post" th:action="@{/admin/users/edit/{id}(id=${user.id})}">
        <h1>Delete User</h1>
        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" th:value="${user.username}"/> <br/>
        </div>
        <div class="form-group"><label class="col-sm-4 control-label" for="roles">Roles</label>
            <div class="col-sm-6">
                <th:block th:each="role : ${roles}">
                    <input id="roles" type="checkbox" name="roles"
                           th:value="${role.id}"
                           th:text="${role.getName()}"
                           th:checked="${user.roles.contains(role)}"/> <br/>
                </th:block>
            </div>
        </div>

        <input type="submit" value="Edit" class="btn-primary"/>
    </form>
</div>