<div class="jumbotron">
    <a th:href="@{/videos/{id}(id=${categoryId})}" class="btn btn-block btn-outline-primary mb-3">All Videos</a>
    <form class="form-inline mb-3" th:action="@{/videos/{id}(id=${categoryId})}">
        <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search" th:value="${search}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="row">
        <th:block th:each="video : ${videos}" th:if="${videos.size() > 0}">
            <div class="col-md-4">
                <a th:href="@{/videos/details/{id}?category={categoryId}(id=${video.id},categoryId=${video.getCategory().getId()})}"><h4 th:text="${video.title}"></h4></a>
                <img width="200" height="200" th:src="@{${'http://img.youtube.com/vi/' + video.youtubeId +'/0.jpg'}}" />
            </div>
        </th:block>
            <p th:text="${page}"></p>

        <h2 th:if="${videos.size() == 0}">No results...</h2>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination mt-4">
            <th:block th:each="page : ${#numbers.sequence(1, pages + 1)}">
                <li class="page-item"><a class="page-link" th:href="@{/videos/{id}?page={page}&search={search}(id=${categoryId},page=${page},search=${search})}" th:text="${page}"></a></li>
            </th:block>
        </ul>
    </nav>
    <br/>
    <a href="/" class="btn btn-secondary mt-3"><i class="fa fa-undo"></i> Back</a>
</div>