<div class="jumbotron">
    <a th:href="@{/notifications/clear}" class="btn btn-warning mb-2">Clear all</a>
    <ul id="notifications" class="list-group">
        <li th:id="|item-${notification.id}|" class="list-group-item" th:each="notification : ${notifications}">
            <a th:id="${notification.id}" style="color:black" th:href="@{/videos/details/{id}?category={categoryId}(id=${notification.getVideo().getId()},categoryId=${notification.getVideo().getCategory().getId()})}"
               th:text="|${notification.content} - |"></a>
            <span class="text-gray-dark timeago text-center" th:datetime="${#temporals.format(notification.getAddedOn(), 'yyyy-MM-dd HH:mm:ss')}"
                  th:text="${#temporals.format(notification.addedOn, 'yyyy-MM-dd HH:mm:ss')}"></span>
            <div class="float-right">
                <a th:href="@{/notifications/delete/{id}(id=${notification.id})}" class="notification-delete text-danger">
                    <i class="fa fa-close"></i>
                </a>
            </div>
        </li>
    </ul>
    <h3 th:if="${notifications.size() == 0}">No notifications...</h3>
    <h3 id="no-notifications"></h3>
</div>

<script th:src="@{/js/timeago.min.js}"></script>

<script>
    /*<![CDATA[*/
    (function ($) {
        'use strict';
        $(function () {
            function startTimeago() {
                var nodes = document.querySelectorAll('.timeago');
                timeago().render(nodes);
            }

            startTimeago();
            $('.notification-delete').on('click', function (e) {
                e.preventDefault();
                var _self = $(this);
                var url = _self.attr('href');
                $.ajax({
                    method: 'get',
                    url: url,
                    dataType: 'json',
                    success: function (res) {
                        $('#item-' + res.id).remove();
                        $('#notification-count').html(res.notificationCount);
                        if ($('#notifications li').length == 0) {
                            $('#no-notifications').append('No notifications...');
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });
        });
    })(jQuery);
    /*]]>*/
</script>