<div class="jumbotron">
    <form th:action="@{/forgotPassword}" method="post">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p>Enter your email below, we will send you a new password</p>
                <div class="form-group">
                    <label for="email" class="custom-control-label">Email: </label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email..."/>
                </div>
                <div class="form-group">
                    <label for="username" class="custom-control-label">Username: </label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username..."/>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>